<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC  "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <title>
SVG rendering report
      </title>
      <style type="text/css">
        <!--
         .bodytext      { font-family:verdana, helvetica, sans-serif; font-size: 12pt; line-height: 125%; text-align: Left; margin-top: 0; margin-bottom: 0 }
         .pageTitle     { line-height: 150%; font-size: 20pt; font-weight : 900; margin-bottom: 20pt }
         .pageSubTitle  { color : blue; line-height: 100%; font-size: 24pt; font-weight : 900 }
         .openChapter   { color : blue; line-height: 125%; font-weight : 900 }
         .openSection   { color : blue; line-height: 125%; font-weight : 900 }
         .info          { color : black; line-height: 110%; font-size: 10pt; font-weight : 100 }
         p              { margin-top:0; margin-bottom:0; padding-top:0; padding-bottom:0 }
         blockquote     { margin-top:0; margin-bottom:0; padding-top:0; padding-bottom:0 }
         .opscript      { margin-left: 3%; margin-right: 3%; }
         .opscript p    { margin-top: 0.7em }
         .navbar        { background: black; color: white; font-weight: bold }
         .warning       { color: red; text-align: Center;}
         a,a:visited    { color: blue }
        -->
      </style>
    </head>
  <body class="bodytext">
<table align="center" border="0" cellspacing="0" cellpadding="10">
  <tr>
    <td align="center" colspan="3">
      <table border="0" cellpadding="8">
        $records
      </table>
    </td>
  </tr>
</table>

</body>
</html>
